#pane {
    -fx-background-image: url("football.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: white;
}
#pane_2 {
    -fx-background-image: url("football.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-color: white;
}


#club_Box {
    background-color: red;
}

#label {
    -fx-font-size: 20;
    font-weight:bolder;
    -fx-text-fill: #592bad;
}

#lbl_Search {
    -fx-font-size: 20;
    font-weight: bolder;
    -fx-text-fill: #592bad;
}

#searchField {
    -fx-background-color:transparent;
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
    -fx-font-size: 15;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #592bad;
    -fx-border-width: 0.25;
    -fx-border-color: transparent transparent black transparent;
}
.table-view .column-header .label{
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-alignment: CENTER;
    -fx-font-weight: 600;
}

.table-view .column-header {
    -fx-cell-size: 50;
    -fx-label-padding: 5;
    -fx-border-style: none;
}

.table-view .cell{
    -fx-border-color: transparent transparent black transparent;
    -fx-font-size: 14;
    -fx-alignment: center;
    -fx-text-fill: black;
    -fx-cell-size: 45;
}
.table-view .cell:even {
    -fx-background-color: white;
}

.table-view .cell:odd{
    -fx-background-color: #d6d6d6;
}

.table-view .cell:empty {
    -fx-background-color: white;
}

.table-view .cell:empty {
    -fx-border-width: 0px;
}

.list-cell:empty {
    -fx-background-color: white;
}

#lbl_Hbox {
    -fx-background-color: #592bad;
}

#lbl_Heading {
    -fx-font-size: 25;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#btn_home {
    -fx-font-size: 25;
    -fx-background-color: #6622CC;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 15;
}

#btn_All {
    -fx-background-color: #5bc0de;
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

#btn_Random {
    -fx-background-color: #0275d8;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

#btn_Goals {
    -fx-background-color:#d9534f ;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

#btn_Wins {
    -fx-background-color: #5cb85c;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

#btn_Date {
    -fx-background-color:#f0ad4e;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

#btn_Points{
    -fx-background-color:#292b2c;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
#home_pane {
    -fx-background-color: white;
    -fx-background-image: url("main/java/w1790317/demo/football.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}